@import "../lib/jbarinas/layout/mixins/index";

#AboutUs {
    @include --layout-horizontal;

    max-width: 960px;
    background-image: url(../images/BLG_Rowers_mobile.png);
    background-repeat: no-repeat;
    background-position: center;

    div {
        @include --layout-flex;
    }
}

@media (min-width: 960px) {
    #AboutUs {
        max-width: 960px;
        padding: 5rem 1rem;
        margin: 0.618rem auto !important;
        background-image: url(../images/BLG_Rowers.png);
    }
}
