@import "../lib/jbarinas/layout/mixins/index";

#AboutUs {
    @include --layout-horizontal;

    max-width: 960px;

    div {
        @include --layout-flex;
    }
}

@media (min-width: 960px) {
    #AboutUs {
        max-width: 960px;
        margin: 0.618rem auto !important;
    }
}
