#Courses {
    color: #fff;
    background-color: #053a68;

    & > header {
        h3, p, ul, li, header, footer, div {
            text-align: center;
        }

        ul {
            li {
                color: #212121;
                background-color: #fff;
                padding: 1.618rem 1rem;
                margin-bottom: 1rem;
                header {
                    color:#0188ee;
                    margin-bottom: 0.618rem;
                }
                a {
                    color: #212121;
                    background-color: #76FF03;
                    padding: 0.618rem 1.618rem;
                }
            }
        }
    }

    & > ul {
        & > li {
            color: #212121;
            background-color: #fff;
            padding: 1rem 1rem 0.382rem;
            margin-bottom: 1.618rem;

            dl {
                margin-bottom: 1rem;
                dt {
                    float:left;
                    font-weight: 300;
                    padding-right: 0.618rem;
                }
                dd {
                    margin-bottom: 0.382rem;
                }
            }

            ul {
                margin-bottom: 1rem;
            }
        }

    }
}
