@import "../lib/jbarinas/layout/mixins/index";

#Courses {
    color: #fff;
    background-color: #053a68;

    @include --layout-vertical;
    @include --layout-center;

    & > header, & > ul {
        max-width: 960px;
    }

    & > header {
        margin-bottom: 1.618rem;

        h3, p, ul, li, header, footer, div {
            text-align: center;
        }

        ul {
            li {
                @include --layout-vertical;

                color: #212121;
                background-color: #fff;
                padding: 1.618rem 1rem;
                margin-bottom: 1rem;

                & > header {
                    color:#0188ee;
                    margin-bottom: 0.618rem;
                }

                & > div {
                    @include --layout-flex;
                }

                & > footer {
                    height: 0;

                    a {
                        color: #212121;
                        background-color: #76FF03;
                        padding: 0.618rem 1.618rem;
                        display: inline-block;
                        bottom: -50px;
                    }
                }
            }
        }
    }

    & > ul {
        h5 {
            font-weight: 700;
        }

        h6 {
            margin-bottom: 0.382rem;
        }

        & > li {
            color: #212121;
            background-color: #fff;
            padding: 1rem 1rem 0.382rem;
            margin-top: 70px;
            margin-bottom: 1.618rem;

            & > h4 {
                position: relative;
                top: -58px;
                margin: 0 1rem 4rem;

                & > div {
                    width: 100%;
                    position: absolute;
                    background-color: #0188ee;
                    padding: 1.618rem;
                    box-sizing: border-box;
                }
            }

            dl {
                margin-bottom: 1rem;
                dt {
                    float:left;
                    font-weight: 300;
                    padding-right: 0.618rem;
                }
                dd {
                    margin-bottom: 0.382rem;
                }
            }

            ul {
                margin-bottom: 1rem;
            }
        }

    }
}


@media (min-width: 840px) {

    #Courses {
        & > header {
            ul {
                @include --layout-horizontal;
                @include --layout-center-justified;

                li {
                    @include --layout-flex;
                    margin: 0 1rem;
                    max-width: 480px;
                }
            }
        }
    }
}
