#Team, #AdvisoryBoard {
    color: #fff;
    background-color: #0188ee;

    header {
        h3 {
            text-align: center;
        }
    }

    ul {
        li {
            header {
                text-align: center;

                span {
                    background-color: rgba(0, 0, 0, 0.38);

                    display: inline-block;
                    width: 80px;
                    height: 80px;
                    margin: 0;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }
            footer {
                text-align: center;
                h4 {
                    div:first-child {
                        font-weight: 500;
                    }
                    div:nth-child(2) {
                        color: #000;
                    }
                }
                aside {
                    display: none;
                }
            }
        }
    }
}
