#AdvisoryBoard {
    header {
        h3, p {
            text-align: center;
        }
    }
    ul {
        li {
            header {
                text-align: center;

                img {
                    background-color: rgba(0, 0, 0, 0.38);
                    background-color: var(--mdc-theme-text-icon-on-background, rgba(0, 0, 0, 0.38));

                    margin: 0;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
            }
            footer {
                text-align: center;
                aside {
                    display: none;
                }
            }
        }
    }
}
