@import "./lib/jbarinas/layout/mixins/index";

* {
    cursor: default !important;
    line-height: 20px !important;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    cursor: pointer !important;
}

#App {
    overflow: auto;

    & > header {
        @include --layout-horizontal;

        max-width: 960px;
        margin: 0.618rem 1rem;

        .logo {
            background-image: url(../svg/BLG.svg);
            background-repeat: no-repeat;
            background-position: center;
            height: 48px;
            width: 138.13px;
        }

        .menu {
            @include --layout-flex;
            @include --layout-horizontal;
            @include --layout-center;
            @include --layout-end-justified
        }

        ul {
            display: none;

            &.show {
                @include --layout-vertical;
                @include --layout-center-center;
                @include --layout-fixed-top;
                @include --layout-fixed-bottom;

                display: block;
                padding: 1.618rem;
                background-color: rgba(0, 0, 0, 0.87);

                li {
                    text-align: center;
                    a {
                        display: inline-block;
                        padding: 0.618rem;
                    }
                }
            }
        }

    }

    & > footer {
        overflow: hidden;
        padding: 1.618rem 0 0;

        address, div, strong {
            text-align: center;
        }

        address {
            a {
                line-height: initial;
                text-transform: initial;
            }
        }

        .social {
            @include --layout-horizontal;
            @include --layout-center-center;

            margin: 1.618rem;

            a {
                width: 44px;
                height: 44px;
                margin: 0 0.618rem;
                display: block;
                background-repeat: no-repeat;
                background-position: center;
            }
            .linkedin {
                background-image: url(../svg/linkedin.svg);
            }
            .twitter {
                background-image: url(../svg/twitter.svg);
            }
            .github {
                background-image: url(../svg/github.svg);
            }
            .slack {
                background-image: url(../svg/slack.svg);
            }
        }
    }
}

@media (min-width: 960px) {
    #App {
        & > header {
            max-width: 960px;
            margin: 0.618rem auto !important;

            ul {
                @include --layout-flex;
                @include --layout-horizontal;
                @include --layout-center;
                @include --layout-end-justified

                li {
                    margin-left: 1rem;
                }
            }
        }
    }
}
