@import "@jbarinas/styles-base/src/flex-layout/classes/flex/_layout";

* {
    cursor: default !important;
    line-height: 20px !important;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    cursor: pointer !important;
}

#App {
    & > header {
        img {
            height: 48px;
        }
        .mdc-toolbar__title {
            background-image: url(../svg/BLG.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    & > footer {
        overflow: hidden;
        padding: 1.618rem 0 0;

        address, div, strong {
            text-align: center;
        }

        address {
            a {
                line-height: initial;
                text-transform: initial;
            }
        }

        .social {
            @extend .layout;
            @extend .horizontal;
            @extend .center-center;

            margin: 1.618rem;

            a {
                width: 44px;
                height: 44px;
                margin: 0 0.618rem;
                display: block;
                background-repeat: no-repeat;
                background-position: center;
            }
            .linkedin {
                background-image: url(../svg/linkedin.svg);
            }
            .twitter {
                background-image: url(../svg/twitter.svg);
            }
            .github {
                background-image: url(../svg/github.svg);
            }
            .slack {
                background-image: url(../svg/slack.svg);
            }
        }
    }
}
